@{
    ViewBag.Title = "Contact";
}
<style>
    .a1 {
        height: auto;
        width: 100%;
        background: #ffffff;
    }

    .table_td {
        width: 300px !important;
        text-align: center !important;
        white-space: nowrap !important;
        line-height: 30px !important;
    }

    .table_td01 {
        width: 300px !important;
        text-align: center !important;
        white-space: nowrap !important;
        line-height: 30px !important;
        background: #ffffff;
        color: #000000
    }

    .table_td02 {
        width: 300px !important;
        text-align: center !important;
        white-space: nowrap !important;
        line-height: 30px !important;
    }
</style>
<script src="~/Scripts/A10A.js"></script>

<div class="a1" style="border:2px solid  #479e90">
    <div style="height:800px;position:relative;background:#f5ffdd">

        <div style=" height:20px;width:100%;background:#479e90;position:absolute;top:0%;left:0%">
            <font style="color:#ffffff">藥品資料查詢系統</font>
        </div>
        <div style="height:auto;width:30%;position:absolute;top:3%;left:1%;">
            <font>ATC輸入查詢: <input type="text" placeholder="例:A10AA" id=input></font>
            <br />
            <font>類別:</font>
            <select class="filter_1" style="width:300px;margin-top:3px"></select>
            <br />
            <font>類別:</font>
            <select class="filter_2" style="width:300px;margin-top:3px"></select>
            <br />
            <font>時間:</font>
            <input type="month" class="bdaymonth_1" style="width:130px;margin-top:3px" />
            <font>至</font>
            <input type="month" class="bdaymonth_2" style="width:130px;margin-top:3px" />
            <br />

            <button onclick="ordfa()" style="margin-top:5px">查詢</button>
            <button onclick="empty()" style="margin-top:5px">清除選項</button>

            <div style="height:600px;width:100%;border: 5px #479e90 solid;background:#ffffff;margin-top:5px;overflow:auto" cellpadding="10" border="1">
                <table id="table_a" ; style="width:100%;background:#ffffff;border:3px;border-color:#479e90;" cellpadding="10" border="1"></table>
            </div>

        </div>

        <div style="height:40%;width:750px;position:absolute;top:5%;left:32%;background:#ffffff;border: 5px #479e90 solid;overflow:auto;" cellpadding="10" border="1">
            <div id="a1" style=" height:auto;width:750px;background:#479e90;position:absolute;top:0%;left:0%">
                <font id="result" style="color:#ffffff;width:100%">查詢結果</font>
                <table class="table_0" style="background:#ffffff;text-align:center;border:3px;border-color:#479e90;" cellpadding="10" border="1"></table>
            </div>
        </div>
        <div id='canvas' style="height:48%;width:750px;position:absolute;top:47%;left:32%;background:#ffffff;border: 5px #479e90 solid;overflow:auto;" cellpadding="10" border="1">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>