<!DOCTYPE html>
@{
    ViewBag.Title = "Home Page";

    var date = ViewBag.Date;
    var student = ViewBag.Student;
    var list = ViewBag.List;
    var list02 = ViewBag.List02;
}
<script src="C:\Users\rayro\source\repos\WebApplication5\WebApplication5\Scripts\jquery.myjqplugin.js"></script>

<html>
<head>
    <title>Chart.js 动态图表的使用</title>

</head>
<body>
    <style>
        div {
            margin-bottom: 10px;
        }
    </style>

    <div>
        現在時間: @date.ToString("yyyy/MM/dd HH:mm:ss")
    </div>

    <div>
        學生成績: @student.ToString()
    </div>

    <div>
        學生成績列表:
    </div>

    @for (int i = 0; i < list.Count; i++)
    {
        <div>
            @list[i].ToString()
        </div>
        <div>
            @list02[i].ToString()
        </div>
    }

    <script>
        var a = [
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 0,
                "columnIndex": 0,
                "rowSpan": 1,
                "colSpan": 7,
                "text": "論質初期慢性腎臟病VPN表單",
                "fontFamily": "微軟正黑體",
                "fontSize": 29,
                "fontWeight": "bold",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "",
                "color": "#000000"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 1,
                "columnIndex": 0,
                "rowSpan": 1,
                "colSpan": 7,
                "text": "基本資料",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "bold",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "#cc99ff",
                "color": "#000000"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 2,
                "columnIndex": 0,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "醫事機構代碼",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "#ffffff",
                "color": "#000000"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 2,
                "columnIndex": 1,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "_HNO_",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "#ffffcc",
                "color": "#000000"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 2,
                "columnIndex": 3,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "疾病",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "#ffffff",
                "color": "#000000"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 2,
                "columnIndex": 5,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "初期慢性腎臟病",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "#ffffcc",
                "color": "#000000"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 3,
                "columnIndex": 0,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "病患姓名",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "",
                "color": "#000000"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 3,
                "columnIndex": 1,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "【 姓名 】",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "Name",
                "background": "#ffffcc",
                "color": "#000000"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 3,
                "columnIndex": 3,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "病患身分證碼",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "",
                "color": "#000000"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 3,
                "columnIndex": 5,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "【 身份證 】",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "Idno",
                "background": "#ffffcc",
                "color": "#000000"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 4,
                "columnIndex": 0,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "出生日期",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "",
                "color": "#000000"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 4,
                "columnIndex": 1,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "【 生日(民國) 】",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "BirthTw",
                "background": "#ffffcc",
                "color": "#000000"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 4,
                "columnIndex": 3,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "醫師身分證號",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "",
                "color": "#000000"
            },
            {
                "key": "6c292444-e4f2-4b72-bfa9-7eeedf4a1183",
                "imageKey": "",
                "laboratoryID": "",
                "laboratoryName": "",
                "laboratoryID2": "",
                "laboratoryName2": "",
                "rowIndex": 4,
                "columnIndex": 5,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "下拉選單",
                "fontFamily": "微軟正黑體",
                "fontSize": "21",
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "\nF124673814    \nN123655274   \nB101506129\nE222839897",
                "borderParaList": "",
                "itemType": "ComboBox",
                "background": "#ffffcc",
                "tabIndex": "",
                "color": "#000000",
                "PK": "",
                "FK": "",
                "fieldPK": "",
                "fieldFK": "",
                "fieldFKName": "",
                "fieldFK2": "",
                "fieldFKName2": "",
                "VPN": "CKD-10"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 5,
                "columnIndex": 0,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "CKD 階段",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "",
                "color": "#000000"
            },
            {
                "key": "4da9cd20-3a7b-4569-8316-d0e028521c76",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 5,
                "columnIndex": 1,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "下拉選單",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "\n00 : Stage0\n10：Stage1\n20：Stage2\n3a：Stage3a\n3b：Stage3b\n40：Stage4\n50：Stage5",
                "borderParaList": "",
                "itemType": "ComboBox",
                "background": "#ffffcc",
                "color": "#000000",
                "VPN": "CKD-13"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 5,
                "columnIndex": 3,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "診療階段",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "",
                "color": "#000000"
            },
            {
                "key": "8867bd90-2dee-4047-bfbc-6bbf92ce0d29",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 5,
                "columnIndex": 5,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "下拉選單",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "\n0：新收案\n1：追蹤",
                "borderParaList": "",
                "itemType": "ComboBox",
                "background": "#ffffcc",
                "color": "#000000",
                "VPN": "CKD-11"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 6,
                "columnIndex": 0,
                "rowSpan": 4,
                "colSpan": 1,
                "text": "伴隨疾病",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "",
                "color": "#000000"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 6,
                "columnIndex": 1,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "無",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "#ffffcc",
                "color": "#000000"
            },
            {
                "key": "d2b77e3a-de3c-4288-b9c2-6f720e22f628",
                "imageKey": "",
                "laboratoryID": "",
                "laboratoryName": "",
                "laboratoryID2": "",
                "laboratoryName2": "",
                "rowIndex": 6,
                "columnIndex": 2,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "下拉選單",
                "fontFamily": "微軟正黑體",
                "fontSize": "21",
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "\nY：是\nN：否",
                "borderParaList": "",
                "itemType": "ComboBox",
                "background": "#ffffcc",
                "tabIndex": "",
                "color": "#000000",
                "TITLE": "",
                "VPN": "CKD-14",
                "ditto": true,
                "fieldKey": "",
                "point": "",
                "formula": ""
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 6,
                "columnIndex": 3,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "腎臟病",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "#ffffcc",
                "color": "#000000"
            },
            {
                "key": "6737ed30-c0e0-4417-9668-450680fdbe22",
                "imageKey": "",
                "laboratoryID": "",
                "laboratoryName": "",
                "laboratoryID2": "",
                "laboratoryName2": "",
                "rowIndex": 6,
                "columnIndex": 4,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "下拉選單",
                "fontFamily": "微軟正黑體",
                "fontSize": "21",
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "\nY：是\nN：否",
                "borderParaList": "",
                "itemType": "ComboBox",
                "background": "#ffffcc",
                "tabIndex": "",
                "color": "#000000",
                "TITLE": "",
                "VPN": "CKD-15",
                "ditto": true,
                "fieldKey": "",
                "point": "",
                "formula": ""
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 6,
                "columnIndex": 5,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "糖尿病",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "#ffffcc",
                "color": "#000000"
            },
            {
                "key": "e1683df2-eaa1-4632-96e5-b1ee8299c991",
                "imageKey": "",
                "laboratoryID": "",
                "laboratoryName": "",
                "laboratoryID2": "",
                "laboratoryName2": "",
                "rowIndex": 6,
                "columnIndex": 6,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "下拉選單",
                "fontFamily": "微軟正黑體",
                "fontSize": "21",
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "\nY：是\nN：否",
                "borderParaList": "",
                "itemType": "ComboBox",
                "background": "#ffffcc",
                "tabIndex": "",
                "color": "#000000",
                "TITLE": "",
                "VPN": "CKD-16",
                "ditto": true,
                "fieldKey": "",
                "point": "",
                "formula": ""
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 7,
                "columnIndex": 1,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "高血壓",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "#ffffcc",
                "color": "#000000"
            },
            {
                "key": "d8564dd2-fd7d-435a-bf23-11cf65ff4f55",
                "imageKey": "",
                "laboratoryID": "",
                "laboratoryName": "",
                "laboratoryID2": "",
                "laboratoryName2": "",
                "rowIndex": 7,
                "columnIndex": 2,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "下拉選單",
                "fontFamily": "微軟正黑體",
                "fontSize": "21",
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "\nY：是\nN：否",
                "borderParaList": "",
                "itemType": "ComboBox",
                "background": "#ffffcc",
                "tabIndex": "",
                "color": "#000000",
                "TITLE": "",
                "VPN": "CKD-17",
                "ditto": true,
                "fieldKey": "",
                "point": "",
                "formula": ""
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 7,
                "columnIndex": 3,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "心臟血管疾病",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "#ffffcc",
                "color": "#000000"
            },
            {
                "key": "c545b074-916b-44ca-89b3-c759258d6f9f",
                "imageKey": "",
                "laboratoryID": "",
                "laboratoryName": "",
                "laboratoryID2": "",
                "laboratoryName2": "",
                "rowIndex": 7,
                "columnIndex": 4,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "下拉選單",
                "fontFamily": "微軟正黑體",
                "fontSize": "21",
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "\nY：是\nN：否",
                "borderParaList": "",
                "itemType": "ComboBox",
                "background": "#ffffcc",
                "tabIndex": "",
                "color": "#000000",
                "TITLE": "",
                "VPN": "CKD-18",
                "ditto": true,
                "fieldKey": "",
                "point": "",
                "formula": ""
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 7,
                "columnIndex": 5,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "高血脂症",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "#ffffcc",
                "color": "#000000"
            },
            {
                "key": "d48dde40-cc50-4bb7-9911-5b4b418b0ea3",
                "imageKey": "",
                "laboratoryID": "",
                "laboratoryName": "",
                "laboratoryID2": "",
                "laboratoryName2": "",
                "rowIndex": 7,
                "columnIndex": 6,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "下拉選單",
                "fontFamily": "微軟正黑體",
                "fontSize": "21",
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "\nY：是\nN：否",
                "borderParaList": "",
                "itemType": "ComboBox",
                "background": "#ffffcc",
                "tabIndex": "",
                "color": "#000000",
                "TITLE": "",
                "VPN": "CKD-19",
                "ditto": true,
                "fieldKey": "",
                "point": "",
                "formula": ""
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 8,
                "columnIndex": 1,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "慢性肝病",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "#ffffcc",
                "color": "#000000"
            },
            {
                "key": "776ba243-8352-440a-bd96-ce77834915fd",
                "imageKey": "",
                "laboratoryID": "",
                "laboratoryName": "",
                "laboratoryID2": "",
                "laboratoryName2": "",
                "rowIndex": 8,
                "columnIndex": 2,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "下拉選單",
                "fontFamily": "微軟正黑體",
                "fontSize": "21",
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "\nY：是\nN：否",
                "borderParaList": "",
                "itemType": "ComboBox",
                "background": "#ffffcc",
                "tabIndex": "",
                "color": "#000000",
                "TITLE": "",
                "VPN": "CKD-20",
                "ditto": true,
                "fieldKey": "",
                "point": "",
                "formula": ""
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 8,
                "columnIndex": 3,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "癌症",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "#ffffcc",
                "color": "#000000"
            },
            {
                "key": "6b571cc5-be69-4cb7-a7bd-a0dc5e0aad18",
                "imageKey": "",
                "laboratoryID": "",
                "laboratoryName": "",
                "laboratoryID2": "",
                "laboratoryName2": "",
                "rowIndex": 8,
                "columnIndex": 4,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "下拉選單",
                "fontFamily": "微軟正黑體",
                "fontSize": "21",
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "\nY：是\nN：否",
                "borderParaList": "",
                "itemType": "ComboBox",
                "background": "#ffffcc",
                "tabIndex": "",
                "color": "#000000",
                "TITLE": "",
                "VPN": "CKD-21",
                "ditto": true,
                "fieldKey": "",
                "point": "",
                "formula": ""
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 8,
                "columnIndex": 5,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "#c0c0c0",
                "color": "#000000"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 8,
                "columnIndex": 6,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "#c0c0c0",
                "color": "#000000"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 9,
                "columnIndex": 1,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "其他",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "#ffffcc",
                "color": "#000000"
            },
            {
                "key": "798d698e-24bf-4bf5-bee2-af41d890c023",
                "imageKey": "",
                "laboratoryID": "",
                "laboratoryName": "",
                "laboratoryID2": "",
                "laboratoryName2": "",
                "rowIndex": 9,
                "columnIndex": 2,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "下拉選單",
                "fontFamily": "微軟正黑體",
                "fontSize": "21",
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "\nY：是\nN：否",
                "borderParaList": "",
                "itemType": "ComboBox",
                "background": "#ffffcc",
                "tabIndex": "",
                "color": "#000000",
                "TITLE": "",
                "VPN": "CKD-22",
                "ditto": true,
                "fieldKey": "",
                "point": "",
                "formula": ""
            },
            {
                "key": "74b6404b-d14f-481e-9efc-4e85128c8852",
                "imageKey": "",
                "laboratoryID": "",
                "laboratoryName": "",
                "laboratoryID2": "",
                "laboratoryName2": "",
                "rowIndex": 9,
                "columnIndex": 3,
                "rowSpan": 1,
                "colSpan": 4,
                "text": "文字輸入",
                "fontFamily": "微軟正黑體",
                "fontSize": "21",
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "Text",
                "background": "#ffffcc",
                "tabIndex": "",
                "color": "#000000",
                "TITLE": "",
                "VPN": "CKD-23",
                "ditto": true,
                "fieldKey": "",
                "point": "",
                "formula": ""
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 10,
                "columnIndex": 0,
                "rowSpan": 1,
                "colSpan": 7,
                "text": "基本檢查資料",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "bold",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "#cc99ff",
                "color": "#000000"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 11,
                "columnIndex": 0,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "檢查日期",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "",
                "color": "#000000"
            },
            {
                "key": "dc34d685-6a69-4aae-b320-ddf51bbe78fe",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 11,
                "columnIndex": 1,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "【 日期 】",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "Date",
                "background": "#ffffcc",
                "color": "#000000",
                "VPN": "CKD-25"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 11,
                "columnIndex": 3,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "抽菸",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "#ffffff",
                "color": "#000000"
            },
            {
                "key": "8bf47869-eee5-4a8d-b514-62865b3c1d07",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 11,
                "columnIndex": 5,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "下拉選單",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "1：無\n2：有",
                "borderParaList": "",
                "itemType": "ComboBox",
                "background": "#ffffcc",
                "color": "#000000",
                "VPN": "CKD-24"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 12,
                "columnIndex": 0,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "身高",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "",
                "color": "#000000"
            },
            {
                "key": "2abb1589-0637-4fec-9a6a-3df7560063b1",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 12,
                "columnIndex": 1,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "【 身高 】",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "TALL",
                "background": "#ffffcc",
                "color": "#000000",
                "VPN": "CKD-26"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 12,
                "columnIndex": 3,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "收縮壓",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "#ffffff",
                "color": "#000000"
            },
            {
                "key": "eaeeb53e-8b7b-4aa2-a839-1cf2f9e6da82",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 12,
                "columnIndex": 5,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "【 收縮壓 】",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "SBP",
                "background": "#ffffcc",
                "color": "#000000",
                "VPN": "CKD-28"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 13,
                "columnIndex": 0,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "體重",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "",
                "color": "#000000"
            },
            {
                "key": "26fc50a8-b6c8-4bef-88b4-0e119096617c",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 13,
                "columnIndex": 1,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "【 體重 】",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "WEIGHT",
                "background": "#ffffcc",
                "color": "#000000",
                "VPN": "CKD-27"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 13,
                "columnIndex": 3,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "舒張壓",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "",
                "color": "#000000"
            },
            {
                "key": "83cc4a34-9460-4aa7-a9db-f21f421c036c",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 13,
                "columnIndex": 5,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "【 舒張壓 】",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "EBP",
                "background": "#ffffcc",
                "color": "#000000",
                "VPN": "CKD-29"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 14,
                "columnIndex": 0,
                "rowSpan": 1,
                "colSpan": 7,
                "text": "檢驗資料",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "bold",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "#cc99ff",
                "color": "#000000"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 15,
                "columnIndex": 0,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "腎絲球過濾值(eGFR)",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "",
                "color": "#000000"
            },
            {
                "key": "b4146a19-2488-4586-9a6c-546b891c2fe4",
                "imageKey": "",
                "laboratoryID": "3229bcfd-6c45-4f42-8021-1eedb8924709",
                "laboratoryName": "eGFR 估計腎絲球過濾率",
                "laboratoryID2": "",
                "laboratoryName2": "",
                "rowIndex": 15,
                "columnIndex": 1,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "【 檢驗 】",
                "fontFamily": "微軟正黑體",
                "fontSize": "21",
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "Lab",
                "background": "#ffffcc",
                "tabIndex": "",
                "color": "#000000",
                "PK": "",
                "FK": "",
                "fieldPK": "",
                "fieldFK": "",
                "fieldFKName": "",
                "VPN": "CKD-30"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 15,
                "columnIndex": 3,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "尿蛋白及尿液肌酸酐比值(UPCR)",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "",
                "color": "#000000"
            },
            {
                "key": "8151a520-66d6-44e6-8d2a-c0c27fd7a432",
                "imageKey": "",
                "laboratoryID": "1b3404e8-6371-4b25-a88c-580a756d9771",
                "laboratoryName": "Urine Protein/Creatinine",
                "laboratoryID2": "",
                "laboratoryName2": "",
                "rowIndex": 15,
                "columnIndex": 5,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "【 檢驗 】",
                "fontFamily": "微軟正黑體",
                "fontSize": "21",
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "Lab",
                "background": "#ffffcc",
                "tabIndex": "",
                "color": "#000000",
                "PK": "",
                "FK": "",
                "fieldPK": "",
                "fieldFK": "",
                "fieldFKName": "",
                "VPN": "CKD-31"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 16,
                "columnIndex": 0,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "血清肌酸酐(Creatinine)",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "",
                "color": "#000000"
            },
            {
                "key": "6639d50f-e008-4f72-bdb5-cda78d42abc6",
                "imageKey": "",
                "laboratoryID": "c1719579-88a2-4739-aa1c-d560b7f73ad8",
                "laboratoryName": "Creatinine 肌酸酐",
                "laboratoryID2": "",
                "laboratoryName2": "",
                "rowIndex": 16,
                "columnIndex": 1,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "【 檢驗 】",
                "fontFamily": "微軟正黑體",
                "fontSize": "21",
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "Lab",
                "background": "#ffffcc",
                "tabIndex": "",
                "color": "#000000",
                "PK": "",
                "FK": "",
                "fieldPK": "",
                "fieldFK": "",
                "fieldFKName": "",
                "VPN": "CKD-32"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 16,
                "columnIndex": 3,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "低密度脂蛋白(LDL)",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "",
                "color": "#000000"
            },
            {
                "key": "b54ed9f2-957c-4de3-8691-b27174e61fbc",
                "imageKey": "",
                "laboratoryID": "290e52c4-7519-443d-8d86-93acb46aca32",
                "laboratoryName": "LDL-Cho 低密度膽固醇",
                "laboratoryID2": "",
                "laboratoryName2": "",
                "rowIndex": 16,
                "columnIndex": 5,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "【 檢驗 】",
                "fontFamily": "微軟正黑體",
                "fontSize": "21",
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "Lab",
                "background": "#ffffcc",
                "tabIndex": "",
                "color": "#000000",
                "PK": "",
                "FK": "",
                "fieldPK": "",
                "fieldFK": "",
                "fieldFKName": "",
                "VPN": "CKD-33"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 17,
                "columnIndex": 0,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "糖化血色素(Hba1c)",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "",
                "color": "#000000"
            },
            {
                "key": "f8dfdfb2-18a8-4ba8-b969-1a979ae5f705",
                "imageKey": "",
                "laboratoryID": "7fbb9c32-335f-480b-ab89-10e95d3f3920",
                "laboratoryName": "Hb A1c 醣化血色素",
                "laboratoryID2": "",
                "laboratoryName2": "",
                "rowIndex": 17,
                "columnIndex": 1,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "【 檢驗 】",
                "fontFamily": "微軟正黑體",
                "fontSize": "21",
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "Lab",
                "background": "#ffffcc",
                "tabIndex": "",
                "color": "#000000",
                "PK": "",
                "FK": "",
                "fieldPK": "",
                "fieldFK": "",
                "fieldFKName": "",
                "VPN": "CKD-34"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 17,
                "columnIndex": 3,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "微量白蛋白(ACR)",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "",
                "color": "#000000"
            },
            {
                "key": "145cad91-8154-42c0-96af-99f7745e4806",
                "imageKey": "",
                "laboratoryID": "4deb9857-ad08-49c2-ab67-3af054c0284e",
                "laboratoryName": "Microalbumin/Creatinine(9938)",
                "laboratoryID2": "",
                "laboratoryName2": "",
                "rowIndex": 17,
                "columnIndex": 5,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "【 檢驗 】",
                "fontFamily": "微軟正黑體",
                "fontSize": "21",
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "Lab",
                "background": "#ffffcc",
                "tabIndex": "",
                "color": "#000000",
                "PK": "",
                "FK": "",
                "fieldPK": "",
                "fieldFK": "",
                "fieldFKName": "",
                "fieldFKCustomTableId": "",
                "fieldFK2": "",
                "fieldFKName2": "",
                "fieldFKCustomTableId2": "",
                "TITLE": "",
                "VPN": "CKD-35"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 18,
                "columnIndex": 0,
                "rowSpan": 1,
                "colSpan": 7,
                "text": "結案資料",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "bold",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "#cc99ff",
                "color": "#000000"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 19,
                "columnIndex": 0,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "結案日期",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "",
                "color": "#000000"
            },
            {
                "key": "c03e0009-2057-4315-9577-a39e9c8869ba",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 19,
                "columnIndex": 1,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "【 日期 】",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "Date",
                "background": "#ffffcc",
                "color": "#000000",
                "VPN": "CKD-36"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 19,
                "columnIndex": 3,
                "rowSpan": 1,
                "colSpan": 4,
                "text": "",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "#c0c0c0",
                "color": "#000000"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 20,
                "columnIndex": 0,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "結案原因",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "",
                "color": "#000000"
            },
            {
                "key": "3fb98d83-b48c-4b37-994e-f9b892cd633a",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 20,
                "columnIndex": 1,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "下拉選單",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "\n1：恢復正常\n2：長期失聯(≧180天)\n3：拒絕再接受治療\n4：死亡\n5：轉診進入「Pre-ESRD計畫」照護\n6：病人未執行本方案管理照護超過1年者\n7：其它",
                "borderParaList": "",
                "itemType": "ComboBox",
                "background": "#ffffcc",
                "color": "#000000",
                "VPN": "CKD-37"
            },
            {
                "key": "a0c42bf2-c182-4eeb-ae67-5bb1e0855bf5",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 20,
                "columnIndex": 3,
                "rowSpan": 1,
                "colSpan": 4,
                "text": "文字輸入",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "Text",
                "background": "#ffffcc",
                "color": "#000000",
                "VPN": "CKD-38"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 21,
                "columnIndex": 0,
                "rowSpan": 1,
                "colSpan": 1,
                "text": "轉診院所代號",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "",
                "color": "#000000"
            },
            {
                "key": "c48ad801-68ce-4aac-9f7e-ef8dfbe5f842",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 21,
                "columnIndex": 1,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "下拉選單",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "ComboBox",
                "background": "#ffffcc",
                "color": "#000000",
                "VPN": "CKD-39"
            },
            {
                "key": "",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 21,
                "columnIndex": 3,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "轉診原因",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "center",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "",
                "borderParaList": "",
                "itemType": "None",
                "background": "",
                "color": "#000000"
            },
            {
                "key": "b58d3693-505f-4c9c-85f5-d6d28b156cfa",
                "imageKey": "",
                "laboratoryID": "",
                "rowIndex": 21,
                "columnIndex": 5,
                "rowSpan": 1,
                "colSpan": 2,
                "text": "下拉選單",
                "fontFamily": "微軟正黑體",
                "fontSize": 21,
                "fontWeight": "",
                "fontStyle": "",
                "textAlign": "left",
                "multiLine": false,
                "groupName": "",
                "isChecked": "",
                "comboContent": "\n10：UPCR≧1000 mg/gm\n3b：Stage3b\n40：Stage4\n50：Stage5",
                "borderParaList": "",
                "itemType": "ComboBox",
                "background": "#ffffcc",
                "color": "#000000",
                "VPN": "CKD-40"
            }
        ]

        var b = [
            { "width": 218 },
            { "width": 114 },
            { "width": 94 },
            { "width": 150 },
            { "width": 104 },
            { "width": 114 },
            { "width": 106 }]

        var c = [
            { "height": 46 },
            { "height": 35 },
            { "height": 35 },
            { "height": 35 },
            { "height": 36 },
            { "height": 36 },
            { "height": 36 },
            { "height": 36 },
            { "height": 36 },
            { "height": 36 },
            { "height": 35 },
            { "height": 36 },
            { "height": 35 },
            { "height": 35 },
            { "height": 35 },
            { "height": 63 },
            { "height": 63 },
            { "height": 35 },
            { "height": 35 },
            { "height": 35 },
            { "height": 36 },
            { "height": 36 }]
    </script>

    <div id="div01">
        <table id="table"  style="border:3px #cccccc solid;" cellpadding="10" border='1'></table>
    </div>

    <script>
        $.each(c, function (index, element) {
            var tr = document.createElement("tr");
            $('#table').append(tr);
            
           c1 = (element.height);

            $.each(b, function (index, element) {
                var td = document.createElement("th");
                $(td).css('width', element.width);
                $(td).css('height', c1);
                tr.append(td);
            });
        });


        $.each(a, function (index, element) {
            key = (element.key);
            imageKey = (element.imageKey);
            laboratoryID = (element.laboratoryID)
            rowIndex = (element.rowIndex);
            columnIndex = (element.columnIndex);
            colSpan = (element.colSpan);
            rowSpan = (element.rowSpan);
            text = (element.text);
            fontFamily = (element.fontFamily);
            fontSize = (element.fontSize);
            fontWeight = (element.fontWeight);
            fontStyle = (element.fontStyle);
            textAlign = (element.textAlign);
            multiLine = (element.multiLine);
            groupName = (element.groupName);
            isChecked = (element.isChecked);
            comboContent = (element.comboContent);
            borderParaList = (element.borderParaList);
            itemType = (element.itemType);
            background = (element.background);
            color = (element.color);

            
            th = $('#table tr:eq(' + rowIndex + ') th:eq(' + columnIndex + ')');
            //th.attr('slider-row', rowSpan);
            //th.attr('slider-col', colSpan);
            th.attr('colSpan', colSpan);
            th.attr('rowSpan', rowSpan);
            
        });

        
    </script>

</body>
</html>
